src/main/resources/routes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="https://www.discoveryassignment.com/xml/routes" targetNamespace="https://www.discoveryassignment.com/xml/routes"
           elementFormDefault="qualified">

    <xs:element name="calculateRoutes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Routes" type="tns:Routes" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Routes">
        <xs:sequence>
            <xs:element name="source" type="xs:string" />
            <xs:element name="destination" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>